name: 02-Simple-Workflow

on:

  push:

    branches: [ "main" ]

  pull_request:

    branches: [ "main" ]

  workflow_dispatch:

jobs:

  build:

    # runs-on: ubuntu-latest

    runs-on: self-hosted

    steps:

      - name: build job

        run: echo "Build Job is executing..."
 
